# Titanic : Machine Learning from Disaster

# Part 1 - Data Preprocessing

## 1. Read Data

In [53]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf

In [54]:
# Read data from files
data = pd.read_csv('data_set/train.csv')
print('------ Traing data ------')
print(data.info())

------ Traing data ------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB
None

## 2. Preprocessing
####  i. Fill in Null Data
####  ii. Change 'Sex' part to int （male = 1， female = 0）
####  iii. Keep the integer part, ignore char part

In [52]:
print('------------ Before Preprocessing ------------')
# print the data before preprocessing
dataset_X = data
# Type is DataFrame
print(type(dataset_X))

# print the first 2 line of data
print(dataset_X.iloc[0:2,:])

print('\n')
print('------------ Start Preprocessing ------------')
# fill in nan values with 0
data = data.fillna(0)

# convert ['male', 'female'] values to [1, 0]
data['Sex'] = data['Sex'].apply(lambda s: 1 if s == 'male' else 0)

# add 'Deceased' as another class
data['Deceased'] = data['Survived'].apply(lambda s: 1 - s)

# select features and labels for training
dataset_X = data[['Sex', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']]
dataset_Y = data[['Deceased', 'Survived']]

print(dataset_X)
print(dataset_Y)

------------ Before Preprocessing ------------
<class 'pandas.core.frame.DataFrame'>
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    0  38.0      1      0

      Ticket     Fare Cabin Embarked  Deceased
0  A/5 21171   7.2500     0        S         1
1   PC 17599  71.2833   C85        C         0


------------ Start Preprocessing ------------
     Sex   Age  Pclass  SibSp  Parch      Fare
0      0  22.0       3      1      0    7.2500
1      0  38.0       1      1      0   71.2833
2      0  26.0       3      0      0    7.9250
3      0  35.0       1      1      0   53.1000
4      0  35.0       3      0      0    8.0500
5      0   0.0       3      0      0    8.4583
6      0  54.0       1      0      0   51.8625
7      0   2.0       3      3      1   21.0750
8      0  27.0       3      0      2   11.1333
9      0  14.0       2      1      0   30.0708
10     0   4.0       3      1      1   16.7000
11     0  58.0       1      0      0   26.5500
12     0  20.0       3      0      0    8.0500
13     0  39.0       3      1      5   31.2750
14     0  14.0       3      0      0    7.8542
15     0  55.0       2      0      0   16.0000
16     0   2.0       3      4      1   29.1250
17     0   0.0       2      0      0   13.0000
18     0  31.0       3      1      0   18.0000
19     0   0.0       3      0      0    7.2250
20     0  35.0       2      0      0   26.0000
21     0  34.0       2      0      0   13.0000
22     0  15.0       3      0      0    8.0292
23     0  28.0       1      0      0   35.5000
24     0   8.0       3      3      1   21.0750
25     0  38.0       3      1      5   31.3875
26     0   0.0       3      0      0    7.2250
27     0  19.0       1      3      2  263.0000
28     0   0.0       3      0      0    7.8792
29     0   0.0       3      0      0    7.8958
..   ...   ...     ...    ...    ...       ...
861    0  21.0       2      1      0   11.5000
862    0  48.0       1      0      0   25.9292
863    0   0.0       3      8      2   69.5500
864    0  24.0       2      0      0   13.0000
865    0  42.0       2      0      0   13.0000
866    0  27.0       2      1      0   13.8583
867    0  31.0       1      0      0   50.4958
868    0   0.0       3      0      0    9.5000
869    0   4.0       3      1      1   11.1333
870    0  26.0       3      0      0    7.8958
871    0  47.0       1      1      1   52.5542
872    0  33.0       1      0      0    5.0000
873    0  47.0       3      0      0    9.0000
874    0  28.0       2      1      0   24.0000
875    0  15.0       3      0      0    7.2250
876    0  20.0       3      0      0    9.8458
877    0  19.0       3      0      0    7.8958
878    0   0.0       3      0      0    7.8958
879    0  56.0       1      0      1   83.1583
880    0  25.0       2      0      1   26.0000
881    0  33.0       3      0      0    7.8958
882    0  22.0       3      0      0   10.5167
883    0  28.0       2      0      0   10.5000
884    0  25.0       3      0      0    7.0500
885    0  39.0       3      0      5   29.1250
886    0  27.0       2      0      0   13.0000
887    0  19.0       1      0      0   30.0000
888    0   0.0       3      1      2   23.4500
889    0  26.0       1      0      0   30.0000
890    0  32.0       3      0      0    7.7500

[891 rows x 6 columns]
     Deceased  Survived
0           1         0
1           0         1
2           0         1
3           0         1
4           1         0
5           1         0
6           1         0
7           1         0
8           0         1
9           0         1
10          0         1
11          0         1
12          1         0
13          1         0
14          1         0
15          0         1
16          1         0
17          0         1
18          1         0
19          0         1
20          1         0
21          0         1
22          0         1
23          0         1
24          1         0
25          0         1
26          1         0
27          1         0
28          0         1
29          1         0
..        ...       ...
861         1         0
862         0         1
863         1         0
864         1         0
865         0         1
866         0         1
867         1         0
868         1         0
869         0         1
870         1         0
871         0         1
872         1         0
873         1         0
874         0         1
875         0         1
876         1         0
877         1         0
878         1         0
879         0         1
880         0         1
881         1         0
882         1         0
883         1         0
884         1         0
885         1         0
886         1         0
887         0         1
888         1         0
889         0         1
890         1         0

[891 rows x 2 columns]

## 3. Divide dataset to (training set) and (test set)

Prevent from overfitting

In [59]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split


# split training data and test data (30% is test data)
X_train, X_test, y_train, y_test = train_test_split(
    dataset_X.as_matrix(), 
    dataset_Y.as_matrix(), 
    test_size = 0.2, 
    random_state = 42)

/Users/zhaohaonan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  import sys
/Users/zhaohaonan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

# Part 2 - Construct Graph